/*
body {
    background-color:#D6DAF0;
    color:#c41e3a ;
    font-family:"Arial";
    text-transform:uppercase
}
#potatoRussel {
    font-size:+48px
}
*/
h1{
    color: 00D5E1;   
}
.blue{
    background: aqua;
}
div{
    width:
    height:
    background:
}
.padding{
    padding:20px;
    background:green;
    border:5px solid black;
    margin: 30px;
}
.green{
    color: #00FF00;
}