body {
    background-color:#D6DAF0;
    color:#c41e3a ;
    font-family:"Arial";
    text-transform:uppercase;
}
a img { border:none; }
#potatoRussel {
    font-size:+48px;
}
.green:hover{
    color:forestgreen
}
#A:active{
    background-image: url('Fish.png');
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 300px;
    background-size: contain;
    background-position: 50% 35px;
}
#B:active{
    background-image: url('Umaru.png');
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 300px;
    background-size: contain;
    background-position: 50% 35px;
}
#C:active{
    background-image: url('Smug.gif');
    background-repeat: no-repeat;
    background-position: center top;
    padding-bottom: 400px;
    background-size: contain;
    background-position: 50% 35px;
}
.bottom{
    padding-bottom:10%;
}
#image{
	width:75%;
}
.bottom2{
    padding-bottom:30%;